
<h2><%= @subrequest.comment %> </h2>
<p>Date: <%= @subrequest.date %> </p>
<p>Assistant Covering: <%= @subrequest.assistant_covering %> </p>
<p>Assistant Requesting: <%= @subrequest.assistant_requesting %> </p>
