<h2>Studio Yoga Classes:</h2>

<% @yogaclasses.each do |yogaclass| %>
  <%= link_to yogaclass.name, yogaclass_path(yogaclass) %>
  <%= yogaclass.instructor %>
  <%= link_to "View subrequests for this class", yogaclass_subrequests_path(yogaclass) %>
  <%= link_to "Request a sub for this class", new_yogaclass_subrequest_path(yogaclass) %><br></br>

<% end %>
