<h2>Welcome to the Studio Assistant subfinder! </h2>

<p>Use this website to request and claim open shifts. </p>

<% if flash[:message] %>
  	<div class='message'><%= flash[:message] %></div>
	<% end %>


<%= link_to "Sign in", '/signin' %><br></br>
<%= link_to "Sign up", '/assistants/new' %><br></br>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
